# LanguageTool Configuration
# LanguageTool version to download from GitHub
LT_VERSION=6.7

# Timezone
TZ=UTC

# Domain (use with nginx-proxy or Caddy)
# LANGUAGETOOL_DOMAIN=languagetool.example.com

# Email for Let's Encrypt certificates (use with nginx-proxy)
# LETSENCRYPT_EMAIL=admin@example.com
